# Dependencies
node_modules/

# Next.js
.next/
out/

# Env files
.env*.local
.env

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
.vscode/*
!.vscode/extensions.json

# Build artifacts
dist/
build/

# TypeScript
*.tsbuildinfo
next-env.d.ts
